* {
  margin: 0;
  font-family: magneto, sans-serif;
  font-style: normal;
  font-weight: 700;
}
body {
  background-color: #eb793d;
}

@media (max-width: 600px) {
  .car {
    width: 100%
  }
}

.button {
  display: inline-block; /* Change display to inline-block */
  padding: 1em 0.5em;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: #2b2622;
  font-size: 0.8125em;
  text-align: center;
  text-decoration: none;
  background-color: #c5e4e6;
  border-radius: 3em;
  transition: box-shadow 200ms;
    min-width: 100px;
}

.button:hover {
  box-shadow: inset 0 0 1rem 2rem rgba(0, 0, 0, 0.15);
  background-color: #d93b3a;
}

/*NAVBAR STYLING*/
.navbar {
  background-color: #eb793d; /* Set background color of the navbar */
  color: #2b2622; /* Set text color of the navbar */
  position: fixed; /* Set navbar to fixed position */
  width: 100%; /* Set navbar width to fill the screen */
  top: 0; /* Set navbar to stick to the top */
  z-index: 1000; /* Set z-index to ensure navbar stays on top of other content */
}

.menu {
  list-style-type: none; /* Remove default list style */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  display: flex; /* Use flexbox to display items horizontally */
}
.logo {
  height: 60px;
}
.menu li {
  padding: 30px 20px; /* Add padding to each menu item */
}

.menu li a {
  color: #2b2622; /* Set text color of menu items */
  text-decoration: none; /* Remove underline from links */
}

.menu li:hover {
  background-color: #d93b3a; /* Change background color on hover */
}

.menu li.contact {
  margin-left: auto; /* Align the Contact menu item to the left */
}
