/*CARDS STYLING*/

.cars-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Horizontally center the items */
    padding: 0 100px;
    margin-top: 50px;
    background-color: #eb793d;
}

.car {
    max-width: 400px; /* Set maximum width to prevent them from becoming too large */
    min-height: 500px; /* Set minimum height to prevent them from becoming too small */
    margin: 10px; /* Add some margin for spacing */
    text-align: center; /* Center text/image horizontally */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    background: linear-gradient(to bottom right, #d93b3a, transparent );
    z-index: 1; /* Ensure it's above the image */
    border-radius: 5px;
}
.car:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}
.car img {
    max-width: 100%; /* Make the image width 100% of its container */
    height: auto; /* Maintain aspect ratio */
    overflow: hidden;
}
.car-details{
    list-style-type: none;
    display: block;
    padding: 1em 0.5em;

}

#searchInput {
    display:flex;
    justify-content: center;
    width: 30%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: #2b2622 0 0 10px;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}